<div class="starter-template">
  <h1>Welcome</h1>
  <p class="lead">
    This is a small tool to generate Sprint Review Documents using Pivotal Tracker.</br>
    To get started, click on the button below. For more information see the <a href="https://github.com/guiman/pivotaltracker_sprint_report">github repo</a></br>
    Also, rest assure that we won't store any of your information.
  </p>
  <a href="/sprint-review" class="btn btn-primary btn-lg">Generate Report</a>
</div>
