<h2>Sprint Review Doc</h2>
<form action="/sprint-review" method="post">
  <div class="form-group">
    <label for="configuration[project]">
      <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
      Pivotal Project ID
    </label>
    <input type="text" name="configuration[project]" class="form-control" text="12"><br/>
  </div>
  <div class="form-group">
    <label for="configuration[access_token]">
      <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
      Access token
    </label>
    <input type="text" name="configuration[access_token]" class="form-control" text="12"><br/>
  </div>
  <div class="form-group">
    <label for="sprint_review[iteration]">
      <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
      Iteration
    </label>
    <input type="text" name="sprint_review[iteration]" class="form-control" text="12"><br/>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
