---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/367813/stories?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '79039'
      X-Tracker-Pagination-Total:
      - '3104'
      X-Tracker-Pagination-Offset:
      - '0'
      X-Tracker-Pagination-Limit:
      - '1'
      X-Tracker-Pagination-Returned:
      - '1'
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '[{"kind":"story","id":18524765,"created_at":"2011-09-20T10:08:40Z","updated_at":"2011-09-21T10:44:12Z","accepted_at":"2011-09-21T10:44:12Z","estimate":2,"story_type":"feature","name":"As
        a policy writer I want to be able to save an unfinished policy so that I can
        resume editing later","current_state":"accepted","requested_by_id":448581,"project_id":367813,"url":"https://www.pivotaltracker.com/story/show/18524765","owner_ids":[7918],"labels":[],"owned_by_id":7918}]'
  recorded_at: Tue, 17 Mar 2015 22:18:33 GMT
recorded_with: VCR 2.9.3
