---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/367813/stories?fields=story_type,current_state&filter=id:1&limit=500&with_state=accepted
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - ''
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 400 Bad Request
    body:
      encoding: UTF-8
      string: '{"code":"invalid_parameter","kind":"error","error":"One or more request
        parameters was missing or invalid.","general_problem":"The ''filter'' parameter
        cannot be combined with other url parameters."}'
  recorded_at: Tue, 17 Mar 2015 22:18:36 GMT
recorded_with: VCR 2.9.3
